<% include ./partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header">Register</div>
    <form action="/register" method="POST" class="ui form">
        <div class="field">
            <label>Username</label>
            <input type="text" name="username" placeholder="username" required>
        </div>
        <div class="field">
            <label>Email</label>
            <input type="email" name="email" placeholder="Email ID" required>           
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password" name="password" placeholder="password" required>
        </div>
            <input class="ui blue big basic button" type="submit">                    
    </form>
</div>

<% include ./partials/footer %>
